*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.Body{
    height: 100%;
}
header{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: antiquewhite;
    margin: 7px 0 0 15px;
}
article{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: antiquewhite;
    margin: 7px 18px 0 0;
    right: 0;
}

.right{ float: right;   }
.red {  color: #f54747; }
.red-focus:focus { border: 1px solid #f54747; }

.month{
    text-transform: uppercase;
}
.top{
    font-family: sans-serif;
    width: 100%;
    float: left;
    background-image: url(./BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.budget_month,.budget_value{
    color: white;
    text-align: center;
    text-shadow: 8px 5px 2px rgb(22, 22, 22);
}
.budget_month{
    font-size: 30px;
    margin-top: 20px;
}
.budget_value{
    margin-top: 15px;
    font-size: 40px;
    margin-bottom: 35px;
    letter-spacing: 2px;
}
.budget_income,.budget_expense{
    height: 50px;
    width: 500px;
    align-content: center;
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: 8px 8px 5px black;
    opacity: 0.95;
}
.budget_income{
    background-color: #20dbd5;
    margin-bottom: 15px;
}
.budget_expense{
    background-color:#fd1d16;
}
.budget_income-text,.budget_expense-text{
    float: left;
    margin-top: 12px;
    font-size: 22px;
    color: black;
    font-weight: 20;
}
.budget_income-value,.budget_expense-value{
    float: left;
    margin-top: 12px;
    font-size: 23px;
    color: white;
    letter-spacing: 1px;
}
.budget_income-value{
    margin-right: 60px;
}
.budget_expense-value{
    margin-right: 15px;
}
.budget_percentage{
    float: left;
    font-size: 13px;
    background-color: #fcaca9;
    font-weight: 520;
    color: red;
    margin-top: 17px;
    border-radius: 2px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
}
.bottom{
    float: left;
    width: 100%;
}
.input{
    height: 50px;
    text-align: center;
    background-color: #ecebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_type{
    width: 50px;
    height: 30px;
    border: 1px solid #e7e7e7;
    color: inherit;
    transition: border 0.4s;
    margin-right: 20px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.input_description,.input_value{
    height: 30px;
    font-weight: 400;
    border: 1px solid #e7e7e7;
    transition: border 0.4s;
    padding-left: 10px;
    border-radius: 5px;
}
.input_description{
    width: 400px;
    margin-right: 20px;
}
.input_value{
    width: 150px;
    margin-right: 15px;
}
.input_type:focus,.input_description:focus,.input_value:focus{
    outline: none;
    border: 1px solid #28B9B5;
}
.input_btn{
    width: 30px;
    border: none;
    vertical-align: middle;
    font-size: 30px;
    color: #28B9B5;
    background: none;
    cursor: pointer;
    display: inline-block;
}
.input_btn:focus{
    outline: none;
}
.input_btn:active{
    transform: translateY(2px);
}

.date{
    display: grid;
    place-items: center;
    font-weight: 500;
    font-size: 18px;
}

.table{
    width: 100%;
    font-family: sans-serif;
    margin: 40px 0;
    display: flex;
}
.income, .expense{
    width: 50%;
    padding: 0 5%;
}
.income_list, .expense_list{
    height: 220px;
    overflow-y: auto;
}
:is(.income_list, .expense_list)::-webkit-scrollbar{
    display: none;
}
.income{
    margin-right: 5px;
}
h2{
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
.income_title{     color: #20dbd5;    }
.expense_title{    color: #fd1d16;    }

.item{
    height: 30px;
    text-align: center;
}
.item_value, .item_delete, .item_description{
    float: left;
    font-size: 18px;
    margin-top: 6px;
}
.item_description{
    margin-left: 5px;
}
.item_percentage{
    float: left;
    font-size: 11px;
    margin-left: 10px;
    background-color: #fcaca9;
    font-weight: 520;
    color: red;
    margin-top: 10px;
    border-radius: 2px;
}
.item_delete{
    float: left;
    margin-left: 10px;
    margin-top: 3.3px;
}
.delete_btn{
    font-size: 23px;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    vertical-align: middle;
    display: none;
}
.income .delete_btn, .income .item_value{    color: #20dbd5;}
.expense .delete_btn, .expense .item_value{    color: #fd1d16;}

.delete_btn:focus{  outline: none;}
.delete_btn:active{ transform: translateY(2px);}

.item:hover .delete_btn{    display: block;}
.item:hover .item_value{    transform: translateX(-20px);}
.item:hover .item_percentage{   transform: translateX(-20px);}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }